.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .link {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    text-align: center;

    &:hover {
      background: #dccfe5;
    }
  }
}

.sidenav-container {
  flex: 1;
}

mat-sidenav {
  min-width: 200px;
}
