<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="onMenuClick()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-stroked-button [routerLink]="'/'">Go to home</button>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

  <div *ngIf="authFacade.isAuthenticated$ | async; else notAuth">
    <button mat-raised-button [routerLink]="'/auth/login'" (click)="logout()">LogOut</button>
  </div>
  <ng-template #notAuth>
    <div>
      <button mat-raised-button [routerLink]="'/auth/signup'">SignUp</button>
      <button mat-raised-button [routerLink]="'/auth/login'">LogIn</button>
    </div>
  </ng-template>
</mat-toolbar>
